<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
    <!-- webpackIgnore: true -->
    <link rel="icon" href="{{BASE_URL}}favicon.ico" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1 id="home">hello world demo页面</h1>

    <img src="../src/img/earth.png" alt="" />

    <div class="fire-ico"></div>

    <div id="loading-wrap" class="loading-wrap">
      <div class="loading"></div>
    </div>
    <!-- webpackIgnore: true -->
    <script src="zepto.min.js"></script>
  </body>
</html>
