// @import '../../assets/css/mixin.scss'; //不建议使用import
// @use '../../assets/css/mixin.scss'; //默认命名空间是文件名，即mixin
@use '../../assets/css/global/animate/loading-size.scss'; //默认命名空间是文件名，即loading-size

#loading-modal {
  @include global.full(fixed);
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include loading-size.loadingSizeChange(100px, var(--color, skyblue));
  }
}
