body {
  padding: 0;
  margin: 0;
}
#home {
  color: skyblue;
  height: 100vh;
  .ignore-1 {
    width: 100px;
  }
  .fire-ico {
    background-image: url('../../assets/img/fire-ico.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
  }
  .foot-btn {
    // position: fixed;
    // bottom: 100px;
    border: 1px solid;
  }
}
